@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Sistema de informatización de la gestión de alquileres de propiedades inmuebles </p>
</div>
