@model InmobiliariaSpartano.Models.Inquilino

@{
    ViewData["Title"] = "Editar";
    string error = ViewData["Error"]?.ToString();
}

<h1>Editar</h1>
<p>@error</p>
<h4>Inquilino</h4>
<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" maxlength="50" class="form-control" required/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" maxlength="50" class="form-control" required/>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input maxlength="8" asp-for="Dni" class="form-control" required/>
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input maxlength="15" asp-for="Telefono" class="form-control" required/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" maxlength="50" asp-for="Email" class="form-control" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarTrabajo" class="control-label"></label>
                <input asp-for="LugarTrabajo" maxlength="100" class="form-control" required/>
                <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreGarante" class="control-label"></label>
                <input asp-for="NombreGarante" maxlength="50" class="form-control" required/>
                <span asp-validation-for="NombreGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoGarante" class="control-label"></label>
                <input asp-for="ApellidoGarante" maxlength="50" class="form-control" required/>
                <span asp-validation-for="ApellidoGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DniGarante" class="control-label"></label>
                <input maxlength="8" asp-for="DniGarante" class="form-control" required/>
                <span asp-validation-for="DniGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoGarante" class="control-label"></label>
                <input maxlength="15" asp-for="TelefonoGarante" class="form-control" />
                <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailGarante" class="control-label"></label>
                <input type="email" maxlength="50" asp-for="EmailGarante" class="form-control" required/>
                <span asp-validation-for="EmailGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
